[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/vortura/oh-my-zsh.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/processing"]
	path = vim/bundle/processing
	url = git@github.com:vortura/vim-processing.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
